<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Crown - Club</title>
		<%= stylesheet_link_tag "style.css"%>
		<%= stylesheet_link_tag "coin-slider-styles.css"%>
		<%= javascript_include_tag "jquery-1.4.2.min.js"%>
		<%= javascript_include_tag "coin-slider.min.js"%>
		<script>
			$(document).ready(function() {
				$('#games').coinslider({
					hoverPause : false
				});
			});
		</script>
	</head>
	<body>
		<div id="main_div">
			<div id="inner_div">
				<%= render :partial => "shared/header", :layout => false%>
				<div class="wrapper">
					<%= yield%>
					<div class="push"></div>
				</div>
			</div>
			<%= render :partial => "shared/footer", :layout => false%>
		</div>
	</body>
</html>